<div class="container">

	<div ng-include="'app/components/navbar/navbar.html'"></div>

	<div ng-show="vm.errorMessage" class="alert alert-warning">
		{{vm.errorMessage}}
	</div>

	<div ng-hide="vm.users.length && !vm.errorMessage">
		<img src="assets/images/ajax-loader.gif"/>
	</div>

	<div ng-show="vm.users.length">

		<a ng-href="#/edit/" access="{{vm.USER_ROLES.admin}}" class="btn btn-primary active" role="button">
			Ajouter un utilisateur
		</a>

		<br/>
		<br/>

		<div class="row" ng-class="{'bg-info':$even}" ng-repeat="user in vm.users">

			<div class="col-sm-10">
				<h4>
          {{user.iup}}
				</h4>

				<p>
          {{user.first | capitalize}} {{user.last | capitalize}}
				</p>

        <p ng-if="user.appEnv.length"><b>App/Env :</b>
          <span ng-repeat="appEnv in user.appEnv">
            <span class="label label-default">{{appEnv.application.name}}-{{appEnv.environment.shortName}}</span>&nbsp;
          </span>
        </p>

			</div>

			<div class="col-sm-2">

				<div class="row btnVerticalAlign" access="{{vm.USER_ROLES.admin}}">
					<a ng-href="#/edit/{{user.$id}}" class="btn btn-primary active" role="button">Modifier</a>
					<button ng-click="vm.delete(user)" class="btn btn-danger active">Supprimer</button>
				</div>

			</div>

		</div>

	</div>

</div>
