<div class="container">

	<div ng-include="'app/components/navbar/navbar.html'"></div>

	<div class="jumbotron text-center">
		<h1>{{vm.message}}</h1>
	</div>

	<!-- <pre>{{ vm.response | json }}</pre> -->

	<h3>Météo pour {{ vm.response.name }}, {{ vm.response.sys.country }}</h3>
	<div>
		Température : {{ vm.response.main.temp - 273.15 | number:1 }}ºC
		<img ng-src="http://openweathermap.org/img/w/{{vm.response.weather[0].icon}}.png"/>
	</div>
	<div>Vent : {{ vm.response.wind.speed | number:1 }} km/h</div>

	<div>
		<input type="text" ng-model="vm.city" 
		 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}"
		 ng-keydown="vm.keyDown($event)"/>
		<button type="submit" class="btn" ng-click="vm.search()">Chercher</button>
	</div>
</div>
