<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="text-center">
    <h1>Liste de vos applications</h1>
  </div>

  <div class="row" ng-class="{'bg-info':$even}" ng-repeat="application in vm.applications">
    <div class="col-xs-12 col-sm-8">
      <h4>{{application.name | capitalize}}</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="" ng-click="vm.edit(application)" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
  </div>

</div>
