<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-show="vm.errorMessage" class="alert alert-warning">
    {{vm.errorMessage}}
  </div>

  <div ng-hide="vm.errorMessage">

    <div class="loading" ng-hide="vm.environments.length">
      <img src="assets/images/ajax-loader.gif"/>
    </div>

    <div ng-show="vm.environments.length">

      <a ng-href="" ng-click="vm.edit({})" access="{{vm.USER_ROLES.admin}}" class="btn btn-primary active" role="button">
        Ajouter un environnement
      </a>

      <br/>
      <br/>

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Short name</th>
          <th>Long name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="env in vm.environments">
          <td>{{env.shortName}}</td>
          <td>{{env.longName}}</td>
          <td>
            <div class="row btnVerticalAlign" access="{{vm.USER_ROLES.admin}}">
              <a href="" ng-click="vm.edit(env)" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
              <a href="" ng-click="vm.delete(env)" title="Supprimer"><span
                class="glyphicon glyphicon-trash"></span></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
