<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-show="vm.errorMessage" class="alert alert-warning">
    {{vm.errorMessage}}
  </div>

  <div class="row">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputShortName" class="col-sm-2 control-label">Nom court</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.environment.shortName" id="inputShortName" placeholder="Nom court">
        </div>

        <div class="col-sm-5"></div>
      </div>
      <div class="form-group">
        <label for="inputLongName" class="col-sm-2 control-label">Nom long</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.environment.longName" id="inputLongName" placeholder="Nom long">
        </div>

        <div class="col-sm-5"></div>
      </div>
    </form>

  </div>

  <div class="row">

    <div class="col-sm-12" style="text-align: center;">

      <button ng-click="vm.cancel()" class="btn btn-primary active">Annuler</button>
      <button ng-click="vm.save()" class="btn btn-danger active">Sauvegarder</button>

    </div>

  </div>

</div>
