<div class="container">

    <div ng-include="'app/components/navbar/navbar.html'"></div>

    <div class="row">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputApplications" class="col-sm-2 control-label">Application</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="vm.application" id="inputApplications" placeholder="Application">
                </div>

                <div class="col-sm-5"></div>

            </div>
        </form>

    </div>

    <div class="row">

        <div class="col-sm-12" style="text-align: center;">

            <button ng-click="vm.cancel()" class="btn btn-primary active">Annuler</button>
            <button ng-click="vm.save()" class="btn btn-danger active">Sauvegarder</button>

        </div>

    </div>

</div>
