<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-show="vm.errorMessage" class="alert alert-warning">
    {{vm.errorMessage}}
  </div>

  <div class="row">

    <form class="form-horizontal">

      <div class="form-group">

        <label for="inputIUP" class="col-sm-2 control-label">IUP</label>

        <div class="col-sm-5">
          <input ng-hide="vm.userCopy.id" type="text" class="form-control" ng-model="vm.user.iup" id="inputIUP"
                 placeholder="IUP" ng-disabled="vm.user.id ? true : false">
        </div>

        <div class="col-sm-5"></div>

      </div>

      <div class="form-group">
        <label for="inputPrenom" class="col-sm-2 control-label">Prénom</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.user.first" id="inputPrenom" placeholder="Prénom">
        </div>

        <div class="col-sm-5"></div>

      </div>

      <div class="form-group">
        <label for="inputNom" class="col-sm-2 control-label">Nom</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.user.last" id="inputNom" placeholder="Nom">
        </div>

        <div class="col-sm-5"></div>

      </div>

      <div class="form-group" ng-show="vm.user.id">
        <label class="col-sm-2 control-label">App/Env</label>

        <div class="col-sm-5">
          <span ng-repeat="appEnv in vm.user.appEnv">
            <span class="label label-default">{{appEnv.application.name}}-{{appEnv.environment.shortName}}</span>&nbsp;
          </span>
        </div>

        <div class="col-sm-5"></div>

      </div>

    </form>

  </div>

  <div class="row">

    <div class="col-sm-12" style="text-align: center;">

      <button ng-click="vm.cancel()" class="btn btn-primary active">Annuler</button>
      <button ng-click="vm.save()" class="btn btn-danger active">Sauvegarder</button>

    </div>

  </div>

</div>
