<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputPrenom" class="col-sm-2 control-label">Prénom</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.user.name.first" id="inputPrenom" placeholder="Prénom">
        </div>

        <div class="col-sm-5"></div>

      </div>
      <div class="form-group">
        <label for="inputNom" class="col-sm-2 control-label">Nom</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="vm.user.name.last" id="inputNom" placeholder="Nom">
        </div>

        <div class="col-sm-5"></div>

      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-5">
          <input type="email" class="form-control" ng-model="vm.user.email" id="inputEmail" placeholder="Email">
        </div>

        <div class="col-sm-5"></div>

      </div>
    </form>

  </div>

  <div class="row">

    <div class="col-sm-12" style="text-align: center;">

      <button ng-click="vm.cancel()" class="btn btn-primary active">Annuler</button>
      <button ng-click="vm.save()" class="btn btn-danger active">Sauvegarder</button>

    </div>

  </div>

</div>
